.menu-item {
    background-color: gray;
    margin-bottom: 10px;
    width: 100%;
}

.navbar {
    background-color: gray;
}
.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-nav>li>a {
    background-color: white;
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
}

p {
    font-size: 2em;
}

@media (max-width: 768px) {
    div.container {
        margin-left: 10px;
        margin-right: 10px;
    }
}